body{background: black;}

.say{text-align: center;font-family: Serif;font-size: 6pt;color: black;background: maroon;width: 100%;}

.selectbg{background: maroon;border: 1px solid black;width: 100%;}

.menu{text-align: center;font-family: Serif;font-size: 12pt;color: grey;background: grey;}

.mascot{width: 100%;background: maroon;}

.emoticon{align: center;width: 20px;height: 20px;}

.app{align: center;width: 30px;height: 30px;}

.select{font-family: Serif;font-size: 6pt;color: red;}

.menuf{text-align: center;font-family: Serif;font-size: 6pt;color: maroon;}
